.box{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;

    /* position: relative;

    top: 100px;
    left: 100px; */

    /* position: fixed;

    bottom: 50px;
    left: 100px; */

    position: sticky;
    top: 50px;

    z-index: -1; /* To move it behind other elements */
}

/* .link {
    color: red;
    font-size: 50px;
    background-color: yellow;
    display: block;
    padding: 50px;
}

.link:hover a{
    display: none;
    color: blue;
    font-size: 75px;
    background-color: orange;
} */

.link {
    color: red;
    font-size: 50px;
}

.link a{
    visibility: hidden;
}

.link:hover a{
    visibility: visible;
    color: blue;
    font-size: 75px;
    background-color: orange;
}


/* .link a{
    display: none;
    color: red;
    font-size: large;
}

.link:hover a{
    display: block;
    color: blue;
    font-size: 75px;
    background-color: orange;
} */

/* Pseudo-classes */
/* .link:hover {
    color: blue;
    background-color: orange;
    font-size: 60px;
    text-decoration: line-through;
}

.link:active {
    color: green;
    background-color: pink;
    font-size: 70px;
    text-decoration: underline;
} */

/* .link:hover{
    display: block;
    color: blue;
    background-color: orange;
    font-size: 60px;
    text-decoration: line-through;
} */