.box{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;

    /* position: relative;

    top: 100px;
    left: 100px; */

    /* position: fixed;

    bottom: 50px;
    left: 100px; */

    position: sticky;
    top: 50px;

    z-index: -1; /* To move it behind other elements */
}