.box{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;

    /* position: relative;

    top: 100px;
    left: 100px; */

    /* position: fixed;

    bottom: 50px;
    left: 100px; */

    position: sticky;
    top: 50px;

    z-index: -1; /* To move it behind other elements */
}

.link {
    color: red;
    text-decoration: dotted;
    font-size: 50px;
    background-color: yellow;
    border-radius: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Pseudo-classes */
/* .link:hover {
    color: blue;
    background-color: orange;
    font-size: 60px;
    text-decoration: line-through;
}

.link:active {
    color: green;
    background-color: pink;
    font-size: 70px;
    text-decoration: underline;
} */